<ion-view view-title="Sign Up" hide-nav-bar="true" hide-tabs>
<ion-content has-bouncing="false" class="signup_page">

      <div class="row row-center">
      <div class="center_content">

<div class="text">
<h4 ng-bind-html="titleCreate"></h4>
</div>

<form name="Form" class="padding" novalidate>
<div class="list list-inset">

    <label class="item-input">
    <i class="icon ion-android-person placeholder-icon"></i>
    <input type="text" placeholder="{{formFirstName}}" ng-model="user.user_firstname" required>
    </label>

    <label class="item-input">
    <i class="icon ion-android-person placeholder-icon"></i>
    <input type="text" placeholder="{{formLastName}}" ng-model="user.user_lastname" required>
    </label>

    <label class="item-input">
    <i class="icon ion-ios-telephone placeholder-icon"></i>
    <input type="number" placeholder="{{formPhone}}" ng-model="user.user_phone" ng-minlength="9" required>
    </label>

    <label class="item-input">
    <i class="icon ion-android-mail placeholder-icon"></i>
    <input type="email" placeholder="{{formEmail}}" ng-model="user.user_email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-minlength="5" required>
    </label>

    <label class="item-input">
    <i class="icon ion-locked placeholder-icon"></i>
    <input name="newPassword" type="password" placeholder="{{formPassword}}" ng-model="user.user_password" required>
    </label>

    <label class="item-input">
    <i class="icon ion-locked placeholder-icon"></i>
    <input match-password="newPassword" name="confirmPassword" ng-model="password.confirm" type="password" placeholder="{{formConfirmPassword}}" required>
    </label>

  <button class="button button-block button-stable" type="submit" ng-disabled="Form.$invalid" ng-click="saveusers()">{{Signup}}</button>


</div>
</form>

</div>
</div>

</ion-content>

<a href="#/tab/login">
  <ion-footer-bar class="signup-footer">
  <span class="create" ng-bind-html="AccReady"></span>
</ion-footer-bar>
</a>

</ion-view>
